body {
  margin: 0;
  padding: 0;
  height: 100vh; /* Ajusta la altura del cuerpo para ocupar toda la ventana */
  background: linear-gradient(to bottom, #4a724a, #0d3213); /* Fondo degradado de verde claro a verde oscuro */
  font-family: Arial, sans-serif; /* Utiliza una fuente de texto legible */
}

img {
  width: 140px;
  height: 140px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);

}

h1 {
  text-align: center;
  margin-bottom: 30px;
}

h3{
  width: 150px;
  color: white;
}

table {
  width: 100%;
  background: linear-gradient(to bottom, #4a724a, #0d3213); /* Fondo degradado de verde claro a verde oscuro */
  border-radius: 8px;
  padding: 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

th, td {
  padding: 15px;
  text-align: center;
}

button {
  padding: 8px 16px;
  margin-right: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Estilos para la paginación */
.botoneraPaginacion {
  width: 98%;
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btnAtras, .btnSiguiente {
  background-color: #007bff;
  color: #fff;
  border: none;
}

.btnAtras:hover, .btnSiguiente:hover {
  background-color: #0056b3;
}

.botoneraPaginacion span {
  font-size: 14px;
  color: #333;
}

/* Estilos para los filtros */
.containerFiltros {
  margin: 0 auto;
  background-color: #4a724a;
  border-radius: 8px;
  background: linear-gradient(to bottom, #4a724a, #0d3213); /* Fondo degradado de verde claro a verde oscuro */
  padding: 20px;
  padding: 20px;
}

.links-container {
  display: flex;
  align-items: center;
}

.filtro{
  padding: 5px;
}

#btnSearch {
  width: 10%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#btnSearch:hover {
  background-color: #0056b3;
}

.song-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

tbody{
width: 100%;
}

.song-container td {
  width: 25%;
}

label{
  color: white;
  margin: 20px;
}

button{
  margin-left: 50px;
  margin-bottom: 10px;
}

