/* Estilo para los inputs */
input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  transition: border-color 0.3s;
}

/* Cambio de color al enfocar el input */
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
  border-color: #007bff;
}

/* Estilo para los botones */
button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Cambio de color al pasar el ratón sobre el botón */
button:hover {
  background-color: #0056b3;
}

/* Estilo para el contenedor principal */
.product-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

/* Estilo para el panel izquierdo */
.left-panel {
  width: 50%;
  padding: 20px;
  border-right: 1px solid #ccc;
}

/* Estilo para el panel derecho */
.right-panel {
  width: 50%;
  padding: 20px;
}

/* Estilo para la tabla */
table {
  width: 100%;
}

/* Estilo para las celdas de encabezado */
th {
  text-align: left;
  padding-bottom: 10px;
}

/* Estilo para las celdas de datos */
td {
  padding-bottom: 10px;
}

/* Estilo para los elementos de lista */
ul {
  list-style: none;
  padding: 0;
}

/* Estilo para los elementos de lista */
li {
  margin-bottom: 10px;
}

.botoneraPaginacion {
  width: 98%;
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}